<!doctype html>
<html lang="en">

<head>
    <title>Project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
    <link rel="stylesheet" href="assets/styles/vendor.css" />
</head>

<body class="body-account body-account_white">
    <div class="global-wrapper">
        <div class="content">
            <header class="header header_dark">
                <div class="main-menu sidebar-menu" data-sidebar="sidebar_left">
                    <div class="main-menu__icon"></div>
                    <div class="main-menu__label">Меню</div>
                </div>
                <div class="logo g-clearfix">
                    <a href="#" class="logo__icon">
                        <img src="img/icons/logo-icon.png" alt="project"/>
                    </a>

                    <span class="logo__label">Beta</span>
                </div>
                <ul class="private-cabinet">
                    <li class="private-cabinet__item"><a class="private-cabinet__link">Личный кабинет</a></li>
                    <li class="private-cabinet__item"><a class="private-cabinet__link" href="#">Информация</a></li>
                    <li class="private-cabinet__item"><a class="private-cabinet__link" href="#">Заказы</a></li>
                    <li class="private-cabinet__item"><a class="private-cabinet__link" href="#">Платежи</a></li>
                    <li class="private-cabinet__item"><a class="private-cabinet__link" href="#">Цены</a></li>
                    <li class="private-cabinet__item"><a class="private-cabinet__link" href="#">Сменить пароль</a></li>
                </ul>
                <div class="mob-cabinet sidebar-menu" data-sidebar="sidebar_right">
                    <i class="icon-account"></i>
                </div>
                <div class="auth">
                    <button class="auth__button">Выйти</button>
                </div>
            </header>
            <aside class="sidebar sidebar_left">
                <div class="sidebar-top g-clearfix">
                    <div class="hide">
                        <div class="hide__icon"></div>
                        <div class="hide__label">Скрыть</div>
                    </div>
                    <div class="sidebar-auth">
                        <button class="sidebar-auth__button h-mr-right-10">Войти</button>
                        <button class="sidebar-auth__button">Регистрация</button>
                    </div>
                </div>
                <nav class="sidebar-nav">
                    <ul class="sidebar-nav__items">
                        <li class="sidebar-nav__item"><a class="sidebar-nav__link" href="catalog.html">Каталог техники</a></li>
                        <li class="sidebar-nav__item"><a class="sidebar-nav__link" href="services.html">Что мы предлагаем</a></li>
                        <li class="sidebar-nav__item"><a class="sidebar-nav__link" href="promotions.html">Тарифы и Акции</a></li>
                        <li class="sidebar-nav__item"><a class="sidebar-nav__link" href="#">О компании</a></li>
                        <li class="sidebar-nav__item"><a class="sidebar-nav__link" href="about-as.html">Вакансии</a></li>
                        <li class="sidebar-nav__item"><a class="sidebar-nav__link" href="#">Блог</a></li>
                        <li class="sidebar-nav__item"><a class="sidebar-nav__link" href="help.html">Центр поддержки</a></li>
                        <li class="sidebar-nav__item"><a class="sidebar-nav__link" href="legal.html">Юр. информация</a></li>
                    </ul>
                </nav>
                <a href="partnership.html" class="sidebar__button">Стать Партнером</a>
            </aside>
            <aside class="sidebar sidebar_right">
                <div class="sidebar-top g-clearfix">
                    <div class="hide">
                        <div class="hide__icon"></div>
                        <div class="hide__label">Скрыть</div>
                    </div>
                    <div class="sidebar-auth">
                        <button class="sidebar-auth__button">Выйти</button>
                    </div>
                </div>
                <nav class="sidebar-nav">
                    <ul class="sidebar-nav__items">
                        <li class="sidebar-nav__item"><a class="sidebar-nav__link" href="catalog.html">Информация</a></li>
                        <li class="sidebar-nav__item"><a class="sidebar-nav__link" href="services.html">Заказы</a></li>
                        <li class="sidebar-nav__item"><a class="sidebar-nav__link" href="promotions.html">Платежи</a></li>
                        <li class="sidebar-nav__item"><a class="sidebar-nav__link" href="#">Цены</a></li>
                        <li class="sidebar-nav__item"><a class="sidebar-nav__link" href="#">Сменить пароль</a></li>
                    </ul>
                </nav>
            </aside>
            <div class="sidebar-overlay"></div>
            <nav class="tabs-nav tabs-nav_bg_grey tabs-nav_border_bt">
                <ul class="tabs-nav__items">
                    <li class="tabs-nav__item tabs-nav__item_active"><a href="#tab-1" class="tabs-nav__link">Информация</a></li>
                    <li class="tabs-nav__item"><a href="#tab-2" class="tabs-nav__link">Заказы</a></li>
                    <li class="tabs-nav__item"><a href="#tab-3" class="tabs-nav__link">Платежи</a></li>
                    <li class="tabs-nav__item"><a href="#tab-3" class="tabs-nav__link">Цены</a></li>
                </ul>
            </nav>
            <div class="container container_account g-clearfix">
                <div class="mob-scroll">
                <aside class="second-sidebar second-sidebar_account">
                    <nav class="second-sidebar__nav">
                        <ul class="second-sidebar__items">
                            <li class="second-sidebar__item"><a class="second-sidebar__link" href="#">Главное</a></li>
                            <li class="second-sidebar__item second-sidebar__item_active"><a class="second-sidebar__link" href="#">Реквизиты</a></li>
                            <li class="second-sidebar__item"><a class="second-sidebar__link" href="#">Сотрудники</a></li>
                            <li class="second-sidebar__item"><a class="second-sidebar__link" href="#">Договора</a></li>
                            <li class="second-sidebar__item"><a class="second-sidebar__link" href="#">Объекты</a></li>
                            <li class="second-sidebar__item"><a class="second-sidebar__link" href="#">Файлы</a></li>
                        </ul>
                    </nav>
                </aside>
                </div>
                <section class="main-content g-clearfix">
                        <div class="customers-info">
                    <div class="table-item table-item_block">
                    <div class="table-item__title">ООО «Энергетическое строительство»</div>
                    <div class="table-div">
                        <div class="table-div__tr table-div__tr_col-2">
                            <div class="table-div__td">
                                <div class="table-div__title">Факт. адрес</div>
                                <div class="table-div__content">119991, г. Киев, ул. Льва Толстого, д.5/1, стр.2</div>
                            </div>
                            <div class="table-div__td">
                                <div class="table-div__title">Логин</div>
                                <div class="table-div__content">energostroy</div>
                            </div>
                        </div>
                        <div class="table-div__tr table-div__tr_col-2">
                            <div class="table-div__td">
                                <div class="table-div__title"><span class="table-div__title-desktop">Основной телефон</span><span class="table-div__title-mob">Телефон</span></div>
                                <div class="table-div__content">+7 (495) 287-17-27</div>
                            </div>
                            <div class="table-div__td">
                                <div class="table-div__title">Email</div>
                                <div class="table-div__content"><a class="underline-text" href="mailto:mail@gmail.com">mail@gmail.com</a></div>
                            </div>
                        </div>
                        <div class="table-div__tr table-div__tr_col-2 table-div__tr_website">
                            <div class="table-div__td">
                                <div class="table-div__title"></div>
                                <div class="table-div__content"></div>
                            </div>
                            <div class="table-div__td">
                                <div class="table-div__title">Веб-сайт</div>
                                <div class="table-div__content"><a class="underline-text" href="www.project.com">www.project.com</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                    <p class="label-uppercase">Организации</p>
                    <div class="table-item table-item_dropdown table-item_active">
                        <div class="table-item__title">ООО «Управление механизацией 3»</div>
                    <div class="table-div">
                        <div class="table-div__tr table-div__tr_col-1">
                            <div class="table-div__td">
                                <div class="table-div__title">Юр. адрес</div>
                                <div class="table-div__content">119991, г. Киев, ул. Льва Толстого, д.5/1, стр.2</div>
                            </div>
                        </div>
                        <div class="table-div__tr table-div__tr_mr_bot_25">
                            <div class="table-div__td">
                                <div class="table-div__title">ОГРН</div>
                                <div class="table-div__content">1127847599943</div>
                            </div>
                            <div class="table-div__td">
                                <div class="table-div__title">ИНН</div>
                                <div class="table-div__content">7813548237</div>
                            </div>
                            <div class="table-div__td">
                                <div class="table-div__title">КПП</div>
                                <div class="table-div__content">781301001</div>
                            </div>
                            <div class="table-div__td">
                                <div class="table-div__title"><span class="table-div__title-desktop">Регистрация</span><span class="table-div__title-mob">Регистр.</span></div>
                                <div class="table-div__content">30.10.2012</div>
                            </div>
                        </div>
                        <div class="table-div__tr">
                            <div class="table-div__td">
                                <div class="table-div__title"><span class="table-div__title-desktop">Расчетный счет</span><span class="table-div__title-mob">Расч. счет</span></div>
                                <div class="table-div__content">40702810200160000715</div>
                            </div>
                            <div class="table-div__td">
                                <div class="table-div__title"><span class="table-div__title-desktop">Кор. счет</span><span class="table-div__title-mob">Кор. счет</span></div>
                                <div class="table-div__content">30101810300000000503</div>
                            </div>
                            <div class="table-div__td">
                                <div class="table-div__title">БИК</div>
                                <div class="table-div__content">044583503</div>
                            </div>
                            <div class="table-div__td">
                                <div class="table-div__title">Банк</div>
                                <div class="table-div__content">АО «СМП БАНК»</div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="table-item table-item_dropdown">
                        <div class="table-item__title">ФЛ Роянов Александр Иванович</div>
                        <div class="table-div">
                            <div class="table-div__tr table-div__tr_col-2 table-div__tr_passport_residence">
                                <div class="table-div__td">
                                    <div class="table-div__title"><span class="table-div__title-desktop">№ паспорта</span><span class="table-div__title-mob">№ пасп.</span></div>
                                    <div class="table-div__content">44 55 666777</div>
                                </div>
                                <div class="table-div__td">
                                    <div class="table-div__title"><span class="table-div__title-desktop">Проживание</span><span class="table-div__title-mob">Прожив.</span></div>
                                    <div class="table-div__content">г. Киев, Волоколамское шоссе, вл. 89, стр. 2</div>
                                </div>
                            </div>
                            <div class="table-div__tr table-div__tr_col-2">
                                <div class="table-div__td">
                                    <div class="table-div__title">Выдан</div>
                                    <div class="table-div__content">Отделом внутренних дел «Гольяновск», 13.12.1999</div>
                                </div>
                                <div class="table-div__td">
                                    <div class="table-div__title">ИНН</div>
                                    <div class="table-div__content">7813548237</div>
                                </div>
                            </div>
                            <div class="table-div__tr table-div__tr_col-1 table-div__tr_mr_bot_25">
                                <div class="table-div__td">
                                    <div class="table-div__title">Прописка</div>
                                    <div class="table-div__content">г. Москва, Волоколамское шоссе, вл. 89, стр. 2</div>
                                </div>
                            </div>
                            <div class="table-div__tr">
                                <div class="table-div__td">
                                    <div class="table-div__title">Счет/Карта</div>
                                    <div class="table-div__content">40702810200160000715</div>
                                </div>
                                <div class="table-div__td">
                                    <div class="table-div__title"></div>
                                    <div class="table-div__content"></div>
                                </div>
                                <div class="table-div__td">
                                    <div class="table-div__title">БИК</div>
                                    <div class="table-div__content">044583503</div>
                                </div>
                                <div class="table-div__td">
                                    <div class="table-div__title">Банк</div>
                                    <div class="table-div__content">АО «СМП БАНК»</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-item table-item_dropdown">
                        <div class="table-item__title">ИП Роянов А.И.</div>
                        <div class="table-div">
                            <div class="table-div__tr">
                                <div class="table-div__td">
                                    <div class="table-div__title">ОГРН</div>
                                    <div class="table-div__content">1127847599943</div>
                                </div>
                                <div class="table-div__td">
                                    <div class="table-div__title">ИНН</div>
                                    <div class="table-div__content">7813548237</div>
                                </div>
                                <div class="table-div__td">
                                    <div class="table-div__title"><span class="table-div__title-desktop">Регистрация</span><span class="table-div__title-mob">Регистр.</span></div>
                                    <div class="table-div__content">30.10.2012</div>
                                </div>
                                <div class="table-div__td">
                                    <div class="table-div__title"></div>
                                    <div class="table-div__content"></div>
                                </div>
                            </div>
                            <div class="table-div__tr table-div__tr_mr_bot_25">
                                <div class="table-div__td">
                                    <div class="table-div__title"><span class="table-div__title-desktop">Расчетный счет</span><span class="table-div__title-mob">Расч. счет</span></div>
                                    <div class="table-div__content">40702810200160000715</div>
                                </div>
                                <div class="table-div__td">
                                    <div class="table-div__title"></div>
                                    <div class="table-div__content"></div>
                                </div>
                                <div class="table-div__td">
                                    <div class="table-div__title">БИК</div>
                                    <div class="table-div__content">044583503</div>
                                </div>
                                <div class="table-div__td">
                                    <div class="table-div__title">Банк</div>
                                    <div class="table-div__content">АО «СМП БАНК»</div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                </section>
            </div>
        </div>
        <footer class="footer footer_bottom">
            <div class="footer-bottom">
                <div class="footer-copy">
                    <p class="footer-copy__text">Все права защищены © АРИАН. Предоставляем услуги аренды с 2009 г.</p>
                    <a class="footer-copy__link" href="#">Юр. информация</a>
                </div>
            </div>
        </footer>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="assets/js/vendor.js"></script>
</body>
</html>